aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
boto3==1.11.7
botocore==1.14.7
certifi==2019.11.28
chardet==3.0.4
docutils==0.15.2
emojis==0.5.1
gidgethub==3.3.0
idna==2.8
idna-ssl==1.1.0
jmespath==0.9.4
multidict==4.7.4
pycodestyle==2.5.0
python-dateutil==2.8.1
requests==2.22.0
s3transfer==0.3.1
six==1.14.0
typing-extensions==3.7.4.1
uritemplate==3.0.1
urllib3==1.25.8
yarl==1.4.2
Quart==0.10.0
hypercorn==0.9.0
tabulate==0.8.7
vulture==1.4
mypy==0.770
prospector==1.2.0
pyflakes==2.2.0
